<div class="content">
  <mat-toolbar class="header">
    <h1>Order</h1>
  </mat-toolbar>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Personal information</h2>
    <div class="form__block">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <h2>Contact information</h2>
    <div class="form__block">
      <mat-form-field appearance="fill">
        <mat-label>Email for receipt</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <div class="form__phones" formArrayName="phoneNumbers">
        <mat-form-field *ngFor="let phone of phoneNumbers.controls; let i=index" appearance="fill" class="form__phone">
          <mat-label>Phone Number</mat-label>
          <input matInput [formControl]="phone" placeholder="XXXXXXXXXX">
          <button *ngIf="phoneNumbers.length > 1" mat-icon-button type="button" (click)="removePhoneNumber(i)" class="form__phone-remove">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-form-field>
        <button *ngIf="phoneNumbers.length < 3" mat-raised-button type="button" color="primary" (click)="addPhoneNumber()" class="form__add-phone">
          Add Phone Number
        </button>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries | async; trackBy: countryTrackBy" [value]="country.name.common">{{ country.name.common }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>
    </div>

    <h2>Payment details</h2>
    <div class="form__block">
      <mat-form-field appearance="fill">
        <mat-label>Credit Card</mat-label>
        <input matInput formControlName="creditCard" maxlength="19" (input)="formatCreditCardNumber">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CVV2 code</mat-label>
        <input matInput formControlName="cvv2" maxlength="3">
      </mat-form-field>

      <mat-checkbox formControlName="agreeTerms">
        I agree to the terms of use
      </mat-checkbox>
    </div>

    <button class="form__submit" mat-raised-button type="submit" color="primary">Submit</button>
  </form>

</div>
