.content {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 420px;
  padding: 0 0 30px 0;
  background-color: #cdcdcd;
}

.header {
  height: 100px;

  h1 {
    font-size: 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;

  &__block {
    display: flex;
    flex-direction: column;

    .checkbox-error {
      font-size: 12px;
      margin-left: 12px;
    }

    h2 {
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: #cdcdcd;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;
    margin: 0 0 22px 0;
  }

  &__phone {
    &:last-of-type {
      ::ng-deep {
        .mat-mdc-form-field-subscript-wrapper {
          height: 10px;
        }
      }
    }
  }

  &__phone-remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__add-phone {
    width: 140px;
    align-self: flex-end;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__submit {
    display: inline-block;
    width: 120px;

  }
}

.loader {
  width: 32px;
  height: 32px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 44px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
